# Lesson 11: SQL Part 2 Studio

> This studio asks you to create queries using the functions from this lesson. As you work through the studio, you may need to create more than one query to return the desired answer.  For others, you may need to combine functions together in order to answer the original query.  The questions have been organized in a way to help you puzzle out the answers.
> 
> Happy querying! 

**The Dataset:**   

> We will be working with the **BooksDB dataset** from Lesson 10.  You should already have access to it.

## The Questions:

1.  Create a query that returns the longest title in the dataset.  We can do this in two steps.

> A. Create a query that returns the length of the longest title.
> 
> B. Create a query that uses the length you found in step A to find the longest title.

In [8]:
SELECT TOP 1 LEN(REPLACE(title,' ','')) AS "Longest Title", title
FROM BooksDB.dbo.books
ORDER BY "Longest Title" DESC;

Longest Title,title
158,"Soccernomics: Why England Loses, Why Germany and Brazil Win, and Why the U.S., Japan, Australia, Turkey--and Even Iraq--Are Destined to Become the Kings of the World's Most Popular Sport"

In [9]:
SELECT MAX(LEN(REPLACE(title,' ',''))) AS "Longest Title"
FROM BooksDB.dbo.books;

Longest Title
158

2.  Use what you learned in question 1 to find the shortest author name.  

> A. Create a query that returns the length of the shortest author.
> 
> B. Create a query that returns the shortest author's name.

In [10]:
SELECT TOP 1 LEN(REPLACE(authors,' ','')) AS "Shortest Author Name", authors
FROM BooksDB.dbo.books
ORDER BY "Shortest Author Name" ASC;

Shortest Author Name,authors
3,Avi

In [11]:
SELECT MIN(LEN(REPLACE(authors,' ',''))) AS "Shortest Author Name"
FROM BooksDB.dbo.books;

Shortest Author Name
3

3\. How many titles contain the word "The"?  

  

> A. Is there a difference between the number of titles that use "The" or "the"?

In [14]:
SELECT COUNT(title)
FROM BooksDB.dbo.books
WHERE title LIKE '%The%' OR title LIKE '%the%';

(No column name)
4702

4.  How many authors' names _start_ with 'Z'?

In [17]:
SELECT COUNT(authors)
FROM BooksDB.dbo.books
WHERE authors LIKE 'Z%';

(No column name)
11

5\. How many books have been identified as printed in a language other than English?  There are four language codes for English: 'en', 'eng', 'en-US', and 'en-UK'.  Use LEFT to answer the question.  (Do not use the wildcard)

You might want to use one of these [comparison operators](https://docs.microsoft.com/en-us/sql/t-sql/language-elements/comparison-operators-transact-sql?view=sql-server-ver15).

In [3]:
SELECT COUNT(language_code) AS "Books Not In English "
FROM BooksDB.dbo.books
WHERE LEFT(language_code, 2) <> 'en';

Books Not In English
186

6\. Retry question 5 using SUBSTRING.

In [4]:
SELECT COUNT(language_code) AS "Books Not In English "
FROM BooksDB.dbo.books
WHERE SUBSTRING(language_code, 1, 2) <> 'en';

Books Not In English
186

7.  Create a column that returns the title, authors, and language codes.  Concatenate these elements so that they return in the following way: title by authors in language\_code language.

> A.  Check each selected column to see where any values are NULL.  Did any of the columns contain NULL values?  If so, which one?

In [37]:
SELECT TOP (100) CONCAT(title, ' by ', authors, ' in ', language_code) AS new_colum
FROM BooksDB.dbo.books;

new_colum
"The Hunger Games (The Hunger Games, #1) by Suzanne Collins in eng"
"Harry Potter and the Sorcerer's Stone (Harry Potter, #1) by J.K. Rowling, Mary GrandPré in eng"
"Twilight (Twilight, #1) by Stephenie Meyer in en-US"
To Kill a Mockingbird by Harper Lee in eng
The Great Gatsby by F. Scott Fitzgerald in eng
The Fault in Our Stars by John Green in eng
The Hobbit by J.R.R. Tolkien in en-US
The Catcher in the Rye by J.D. Salinger in eng
"Angels & Demons (Robert Langdon, #1) by Dan Brown in en-CA"
Pride and Prejudice by Jane Austen in eng
The Kite Runner by Khaled Hosseini in eng
"Divergent (Divergent, #1) by Veronica Roth in eng"
"1984 by George Orwell, Erich Fromm, Celâl Üster in eng"
Animal Farm by George Orwell in eng
"The Diary of a Young Girl by Anne Frank, Eleanor Roosevelt, B.M. Mooyaart-Doubleday in eng"
"The Girl with the Dragon Tattoo (Millennium, #1) by Stieg Larsson, Reg Keeland in eng"
"Catching Fire (The Hunger Games, #2) by Suzanne Collins in eng"
"Harry Potter and the Prisoner of Azkaban (Harry Potter, #3) by J.K. Rowling, Mary GrandPré, Rufus Beck in eng"
"The Fellowship of the Ring (The Lord of the Rings, #1) by J.R.R. Tolkien in eng"
"Mockingjay (The Hunger Games, #3) by Suzanne Collins in eng"
"Harry Potter and the Order of the Phoenix (Harry Potter, #5) by J.K. Rowling, Mary GrandPré in eng"
The Lovely Bones by Alice Sebold in eng
"Harry Potter and the Chamber of Secrets (Harry Potter, #2) by J.K. Rowling, Mary GrandPré in eng"
"Harry Potter and the Goblet of Fire (Harry Potter, #4) by J.K. Rowling, Mary GrandPré in eng"
"Harry Potter and the Deathly Hallows (Harry Potter, #7) by J.K. Rowling, Mary GrandPré in eng"
"The Da Vinci Code (Robert Langdon, #2) by Dan Brown in eng"
"Harry Potter and the Half-Blood Prince (Harry Potter, #6) by J.K. Rowling, Mary GrandPré in eng"
Lord of the Flies by William Golding in eng
"Romeo and Juliet by William Shakespeare, Robert Jackson in eng"
Gone Girl by Gillian Flynn in eng
The Help by Kathryn Stockett in eng
Of Mice and Men by John Steinbeck in eng
Memoirs of a Geisha by Arthur Golden in eng
"Fifty Shades of Grey (Fifty Shades, #1) by E.L. James in eng"
"The Alchemist by Paulo Coelho, Alan R. Clarke in eng"
"The Giver (The Giver, #1) by Lois Lowry in eng"
"The Lion, the Witch, and the Wardrobe (Chronicles of Narnia, #1) by C.S. Lewis in eng"
The Time Traveler's Wife by Audrey Niffenegger in eng
"A Game of Thrones (A Song of Ice and Fire, #1) by George R.R. Martin in eng"
"Eat, Pray, Love by Elizabeth Gilbert in eng"
"The Lightning Thief (Percy Jackson and the Olympians, #1) by Rick Riordan in eng"
"Little Women (Little Women, #1) by Louisa May Alcott in en-US"
"Jane Eyre by Charlotte Brontë, Michael Mason in eng"
"The Notebook (The Notebook, #1) by Nicholas Sparks in eng"
Life of Pi by Yann Martel in
Water for Elephants by Sara Gruen in eng
The Book Thief by Markus Zusak in eng
Fahrenheit 451 by Ray Bradbury in spa
"New Moon (Twilight, #2) by Stephenie Meyer in eng"
Where the Sidewalk Ends by Shel Silverstein in eng
"City of Bones (The Mortal Instruments, #1) by Cassandra Clare in eng"
"Eclipse (Twilight, #3) by Stephenie Meyer in en-US"
"Eragon (The Inheritance Cycle, #1) by Christopher Paolini in en-US"
"The Hitchhiker's Guide to the Galaxy (Hitchhiker's Guide to the Galaxy, #1) by Douglas Adams in en-US"
Brave New World by Aldous Huxley in eng
"Breaking Dawn (Twilight, #4) by Stephenie Meyer in en-US"
The Secret Life of Bees by Sue Monk Kidd in en-US
"The Adventures of Huckleberry Finn by Mark Twain, John Seelye, Guy Cardwell in eng"
"Charlotte's Web by E.B. White, Garth Williams, Rosemary Wells in eng"
The Curious Incident of the Dog in the Night-Time by Mark Haddon in eng
The Girl on the Train by Paula Hawkins in eng
"The Golden Compass (His Dark Materials, #1) by Philip Pullman in eng"
Fangirl by Rainbow Rowell in eng
"Wuthering Heights by Emily Brontë, Richard J. Dunn in eng"
My Sister's Keeper by Jodi Picoult in eng
Slaughterhouse-Five by Kurt Vonnegut Jr. in eng
Gone with the Wind by Margaret Mitchell in eng
A Thousand Splendid Suns by Khaled Hosseini in eng
The Perks of Being a Wallflower by Stephen Chbosky in eng
"Insurgent (Divergent, #2) by Veronica Roth in eng"
"Ender's Game (Ender's Saga, #1) by Orson Scott Card in eng"
"Frankenstein by Mary Wollstonecraft Shelley, Percy Bysshe Shelley, Maurice Hindle in eng"
The Shining (The Shining #1) by Stephen King in eng
"The Host (The Host, #1) by Stephenie Meyer in en-US"
Looking for Alaska by John Green in eng
"Bridget Jones's Diary (Bridget Jones, #1) by Helen Fielding in eng"
"Sense and Sensibility by Jane Austen, Tony Tanner, Ros Ballaster in eng"
"Holes (Holes, #1) by Louis Sachar, Louis Sachar in eng"
Filth by Irvine Welsh in eng
"The Devil Wears Prada (The Devil Wears Prada, #1) by Lauren Weisberger in eng"
"The Odyssey by Homer, Robert Fagles, E.V. Rieu, Frédéric Mugler, Bernard Knox in eng"
"The Little Prince by Antoine de Saint-Exupéry, Richard Howard, Dom Marcos Barbosa, Melina Karakosta in eng"
The Glass Castle by Jeannette Walls in eng
Into the Wild by Jon Krakauer in eng
"A Tale of Two Cities by Charles Dickens, Richard Maxwell, Hablot Knight Browne in eng"
"Jurassic Park (Jurassic Park, #1) by Michael Crichton in spa"
The Giving Tree by Shel Silverstein in eng
A Time to Kill by John Grisham in eng
"Night (The Night Trilogy #1) by Elie Wiesel, Marion Wiesel in eng"
Paper Towns by John Green in en-US
The Princess Bride by William Goldman in en-US
The Outsiders by S.E. Hinton in en-US
"The Maze Runner (Maze Runner, #1) by James Dashner in eng"
"Freakonomics: A Rogue Economist Explores the Hidden Side of Everything (Freakonomics, #1) by Steven D. Levitt, Stephen J. Dubner in en-US"
The Secret Garden by Frances Hodgson Burnett in eng
"One Hundred Years of Solitude by Gabriel García Márquez, Gregory Rabassa in eng"
"The Picture of Dorian Gray by Oscar Wilde, Jeffrey Eugenides in eng"
"Fifty Shades Freed (Fifty Shades, #3) by E.L. James in eng"
"Dracula by Bram Stoker, Nina Auerbach, David J. Skal in eng"
"The Girl Who Played with Fire (Millennium, #2) by Stieg Larsson, Reg Keeland in eng"

8.  Update the query in question 7 using COALESCE to change the language code values from NULL to 'unknown'.

> A.  Has this changed the language\_code  where the values are NULL?

In [46]:
SELECT TOP (10)CONCAT(title, ' by ', authors, ' in ', COALESCE(language_code,'unknown')) AS "new_colum"
FROM BooksDB.dbo.books
WHERE language_code IS NULL;

new_colum
Life of Pi by Yann Martel in unknown
The Five People You Meet in Heaven by Mitch Albom in unknown
A Christmas Carol by Charles Dickens in unknown
Carrie by Stephen King in unknown
"The Hunt for Red October (Jack Ryan Universe, #4) by Tom Clancy in unknown"
Where the Red Fern Grows by Wilson Rawls in unknown
Fried Green Tomatoes at the Whistle Stop Cafe by Fannie Flagg in unknown
The Three Musketeers by Alexandre Dumas in unknown
In Her Shoes by Jennifer Weiner in unknown
The Andromeda Strain by Michael Crichton in unknown

9\. Revisit question 7 using ISNULL instead of COALESCE.

> A.  Has this changed the language\_code  where the values are NULL?

In [45]:
SELECT TOP (10)CONCAT(title, ' by ', authors, ' in ', ISNULL(language_code,'unknown')) AS "new_colum"
FROM BooksDB.dbo.books
WHERE language_code IS NULL;

new_colum
Life of Pi by Yann Martel in unknown
The Five People You Meet in Heaven by Mitch Albom in unknown
A Christmas Carol by Charles Dickens in unknown
Carrie by Stephen King in unknown
"The Hunt for Red October (Jack Ryan Universe, #4) by Tom Clancy in unknown"
Where the Red Fern Grows by Wilson Rawls in unknown
Fried Green Tomatoes at the Whistle Stop Cafe by Fannie Flagg in unknown
The Three Musketeers by Alexandre Dumas in unknown
In Her Shoes by Jennifer Weiner in unknown
The Andromeda Strain by Michael Crichton in unknown